$color-1: #2ecc71;
$color-2: #3498db;
$color-3: #f1c40f;
$color-4: #e74c3c;
$dimensioni: 30px;

.radioGroup {
    display: flex;
    align-items: center;
}

.custom-radios {

    div {
        display: inline-block;
    }

    input[type="radio"] {
        display: none;

        +label {
            color: #333;
            font-family: Arial, sans-serif;
            font-size: 14px;
            margin: 5px 0 20px;

            span {
                display: inline-block;
                width: $dimensioni;
                height: $dimensioni;
                margin: -1px 10px 0 0;
                vertical-align: middle;
                cursor: pointer;
                border-radius: 50%;
                border: 2px solid #FFFFFF;
                box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
                background-repeat: no-repeat;
                background-position: center;
                text-align: center;
                line-height: $dimensioni;

                img {
                    opacity: 0;
                    transition: all .3s ease;
                }
            }
        }

        &#color-1+label span {
            background-color: $color-1;
        }

        &#color-2+label span {
            background-color: $color-2;
        }

        &#color-3+label span {
            background-color: $color-3;
        }

        &#color-4+label span {
            background-color: $color-4;
        }

        &:checked+label span img {
            opacity: 1;
        }
    }
}

.radioInputsQnty {
    display: flex;
    justify-content: space-between;
    width: 350px;
    min-height: 85px;

    .quantityProduct{
        text-align: end;

        input {
            width: 125px;
        }
    }
}